.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container .label {
    font-size: 16px;
    text-align: start;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
}